body {
    font-family: 'Architects Daughter', cursive;
    background-color: lemonchiffon;
}

h1, h2, h3 {
    font-family: "Lobster", "cursive";
    color: firebrick;
}
h2 {
    color: brown;
}
header h2 {
    color: #cec8ff;
}
p{
    color: chocolate;
}




.site-footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #414049, #292f4e, #37243a ) ;
    color: white;
    margin: 0;
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar{
    background-color: coral;
}

/*.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid burlywood;
    }